.App-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 40px;
}

.Top-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Bottom-part {
  display: flex;
  flex-direction: column;
  align-items: center;
}
